<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document- <%= titre %>  </title>
</head>
<body>
    
  <%- include("./partiels/header.ejs") %> <br/>
 
     <p>
        This app starts a server and listens on port 3000 for connections. The app responds with “Hello World!” 
        for requests to the root URL (/) or route. For every other path, it will respond with a 404 Not Found.

        The example above is actually a working server: Go ahead and click on the URL shown. You’ll get a response, with
         real-time logs on the page, and any changes 
        you make will be reflected in real time. This is powered by RunKit, which provides an interactive JavaScript
         playground connected to a complete Node environment that runs in your web browser.
         Below are instructions for running the same app on your local machine. 
    </p>
   
</body>
</html>