<%- include("./partiels/header.ejs") %> <br/>
FAUT VOIR 
<div class=" container form-control">
            
            <h3> <%= blog.nom %> </h3> 
           <p> <%= blog.prix %> </p> 
            <%= blog.categorie %> 
            
            <input type="submit" name="SUPPRIMER"/>
            </div>
            <style>
            #two{border: 3px rgb(3, 33, 41) solid ;} 
            </style>
